:root {
  --main-font: Roboto, sans-sefir;
  --secondary-font: Raleway, sans-sefir;
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --logo-txt-cl: #000000;
  --grey-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: rgba(255, 255, 255, 0.6);
  --main-icn-fill: #afb1b8;
  --accent-bg-cl: #2196f3;
  --secondary-bg-cl: #188ce8;
  --main-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --icon-bg-cl: rgba(255, 255, 255, 0.1);
  --cust-bg-cl: #f5f5f5;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --gap: 30px;
}
:root .page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*# sourceMappingURL=/sm/b8ae781793ee4eb86edef3f2a2ac43a5575d063ed8cd287d7553f9f1b2776616.map */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list,
.nav__list,
.header__list,
.footer__list,
.section-team__list,
.aside__list,
.preview__list,
.portfolio__list,
.socials-list,
.customers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: block;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--accent-txt-cl);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.1923076923;
  }
}

.logo__dark {
  color: var(--logo-txt-cl);
}

.logo__light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--light-txt-cl);
  text-decoration: none;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .logo__light {
    line-height: 1.1923076923;
  }
}

.logo--header {
  display: block;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo--header {
    padding: 26px 0;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    padding: 25px 0;
    margin-right: 93px;
  }
}

.logo--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo--footer {
    display: block;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--light-txt-cl);
  border-radius: 50%;
  color: var(--main-icn-fill);
  fill: currentColor;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--secondary-bg-cl);
  color: var(--light-txt-cl);
}

.social__footer {
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .social__footer {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social__footer {
    margin-bottom: 0;
  }
}

.dark__icon {
  background-color: var(--icon-bg-cl);
  color: var(--main-bg-cl);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.dark__icon:hover, .dark__icon:focus {
  background-color: var(--accent-bg-cl);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--accent-bg-cl);
  color: var(--light-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  margin-left: 12px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe__form input {
  width: 100%;
  height: 50px;
  background-color: var(--dark-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 20px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
  color: var(--light-txt-cl);
  outline: transparent;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe__form input:hover, .subscribe__form input:focus {
  border-color: var(--accent-txt-cl);
}

.subscribe__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    display: block;
  }
}

.subscribe__icon {
  margin-left: 12px;
  fill: var(--light-txt-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96%;
  background-color: var(--main-bg-cl);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.register-form__title {
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-txt-cl);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  gap: 9px;
}

.icon-checked {
  opacity: 0;
  fill: var(--accent-bg-cl);
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.register-form__checkbox:checked + .register-form__icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.register-form__checkbox:checked + .register-form__icons .icon-unchecked {
  opacity: 0;
}

.register-form__checkbox:focus + .register-form__icons .icon-checked,
.register-form__checkbox:focus + .register-form__icons .icon-unchecked {
  fill: var(--accent-bg-cl);
}

.register-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register-form__input:focus, .register-form__input:hover {
  border-color: var(--accent-bg-cl);
}
.register-form__input:focus + .register-form__icon, .register-form__input:focus + .register-form__icon, .register-form__input:hover + .register-form__icon, .register-form__input:hover + .register-form__icon {
  fill: var(--accent-bg-cl);
}

.register-form__icon {
  position: absolute;
  left: 2.6%;
  top: 50%;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.register-form__message {
  display: block;
  resize: none;
  outline: transparent;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.register-form__message::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.register-form__desc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}
@media screen and (min-width: 1200px) {
  .register-form__desc {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.register-form__link {
  color: var(--accent-txt-cl);
}

.register-form__heading {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
}

.register-form__field {
  display: block;
  position: relative;
}
.register-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.register-form__label {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
  margin-bottom: 4px;
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.register-form__btn:hover, .register-form__btn:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.nav {
  margin-right: auto;
}

.nav__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__link {
    color: var(--main-txt-cl);
    padding: 32px 0;
    display: block;
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-txt-cl);
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
  }
}

.nav__link--current {
  color: var(--accent-txt-cl);
}
.nav__link--current::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6%;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  width: 100%;
  height: 101%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
}

.overlay__desc {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--light-txt-cl);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-bg-cl);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--main-bg-cl);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-txt-cl);
}

.mobile-list {
  margin-bottom: auto;
}

.mobile-list__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.mobile-list__link--current {
  color: var(--accent-txt-cl);
}
.mobile-list__link:hover, .mobile-list__link:focus {
  color: var(--accent-txt-cl);
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-menu__tel {
  font-family: "Roboto";
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.mobile-menu__mail {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
}

.mobile-socials__thumb {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.mobile-socials__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0px 10px 0px 6px;
}

.mobile-socials__border:last-child {
  border: 1px solid transparent;
}

.mobile-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.header {
  background-color: var(--main-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    color: var(--grey-txt-cl);
    -webkit-transition: color var(--animation);
    transition: color var(--animation);
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-txt-cl);
  }
}

@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 32px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__icon {
    fill: currentColor;
    stroke: var(--grey-txt-cl);
    -webkit-transition: fill var(--animation);
    transition: fill var(--animation);
  }
  .header__icon:hover, .header__icon:focus {
    fill: var(--accent-bg-cl);
  }
}

.header__link--mail {
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .header__link--mail {
    padding-top: 0;
  }
}

.header__link--tel {
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .header__link--tel {
    padding-bottom: 0;
  }
}

.hero {
  background-color: var(--dark-bg-cl);
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/img_sm-@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/img_sm-@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/img_sm-@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/img_sm-@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/img_md-@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/img_md-@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/img_md-@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/img_md-@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/Img_lg-@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/Img_lg-@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg/Img_lg-@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg/Img_lg-@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--secondary-bg-cl);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.aside {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .aside {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .aside__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.aside__item {
  margin-bottom: 30px;
}
.aside__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .aside__item {
    -ms-flex-preferred-size: calc((100% - 1*var(--gap)) / 2);
        flex-basis: calc((100% - 1*var(--gap)) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .aside__item {
    -ms-flex-preferred-size: calc((100% - 3*var(--gap)) / 4);
        flex-basis: calc((100% - 3*var(--gap)) / 4);
  }
}

.aside__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .aside__caption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.aside__subtitle {
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--grey-txt-cl);
}

.aside__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: var(--light-bg-cl);
  height: 120px;
}

.preview {
  display: none;
}
@media screen and (min-width: 1200px) {
  .preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
}

.preview__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--main-txt-cl);
}

.preview__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview__item {
  position: relative;
}

.preview__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__name {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}

.section-team__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .section-team__title {
    margin-bottom: 50px;
  }
}

.section-team {
  background-color: var(--light-bg-cl);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding: 94px 0;
  }
}

.section-team__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--main-txt-cl);
}

.section-team__subtitle {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--grey-txt-cl);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section-team__box {
  padding: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-cl);
}
@media screen and (min-width: 768px) {
  .section-team__box {
    margin-bottom: 0;
  }
}

.section-team__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-team__item {
    margin-bottom: 0;
  }
}

.section-team__item:last-child {
  margin-bottom: 0;
}

.customers {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customers__item {
  -ms-flex-preferred-size: calc((100% - 1*var(--gap)) / 2);
      flex-basis: calc((100% - 1*var(--gap)) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 2*var(--gap)) / 3);
        flex-basis: calc((100% - 2*var(--gap)) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 5*var(--gap)) / 6);
        flex-basis: calc((100% - 5*var(--gap)) / 6);
  }
}

.customers__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: var(--main-txt-cl);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--main-icn-fill);
  border-radius: 4px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-icn-fill);
  -webkit-transition: border-color var(--animation), color var(--animation);
  transition: border-color var(--animation), color var(--animation);
}
.customers__link:hover, .customers__link:focus {
  border-color: 1px solid var(--accent-bg-cl);
  color: var(--accent-bg-cl);
}

.customers__icon {
  fill: currentColor;
}

.holder {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .holder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.holder__btn {
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--main-txt-cl);
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.holder__btn:hover, .holder__btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.first-btn {
  padding: 6px 25px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__caption {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.portfolio__subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-txt-cl);
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.portfolio-item__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.portfolio-item__card:hover, .portfolio-item__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item__card:hover .overlay, .portfolio-item__card:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-item__thumb {
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: var(--dark-bg-cl);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .container__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__group {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footer__group {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__contacts {
  font-style: normal;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--light-txt-cl);
  margin-bottom: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__adress {
    display: block;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--dark-txt-cl);
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .footer__link {
    display: block;
  }
}

.footer__spitch {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__spitch {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__spitch {
    display: block;
  }
}

.footer-space {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-space {
    margin-bottom: 0;
    width: auto;
    padding: 0;
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */