.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transition: transform var(--animation);

  width: 100%;
  height: 101%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
}

.overlay__desc {
  font-family: "Roboto";
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--light-txt-cl);
}
