h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list,
.nav__list,
.header__list,
.footer__list,
.section-team__list,
.aside__list,
.preview__list,
.portfolio__list,
.socials-list,
.customers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
