.aside {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.aside__list {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.aside__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    @include item(1, var(--gap), 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    @include item(3, var(--gap), 4);
  }
}

.aside__caption {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-txt-cl);
  display: flex;
  justify-content: center;

  @media screen and(min-width:768px) {
    justify-content: flex-start;
  }
}

.aside__subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--grey-txt-cl);
}

.aside__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--light-bg-cl);
  height: 120px;
}
