.footer {
  background-color: var(--dark-bg-cl);
  padding-bottom: 60px;
  padding-top: 60px;
}

.container__footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__group {
  margin-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__contacts {
  font-style: normal;
}

.footer__adress {
  display: flex;
  color: var(--light-txt-cl);
  margin-bottom: 8px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: block;
  }

  // @media screen and (min-width: 1200px) {
  //   margin-bottom: 9px;
  // }
}

.footer__link.link:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--dark-txt-cl);
  text-decoration: none;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.footer__spitch {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
  margin-top: 60px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
