.preview {
  display: none;

  @media screen and(min-width:1200px) {
    display: flex;
    padding-bottom: 94px;
  }
}

.preview__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-txt-cl);
}

.preview__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.preview__item {
  position: relative;
}

.preview__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__name {
  font-family: "Roboto";
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
