.section-team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}

.section-team {
  background-color: var(--light-bg-cl);
  padding: 60px 0;

  @media screen and(min-width:1200px) {
    padding: 94px 0;
  }
}

.section-team__caption {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-txt-cl);
}

.section-team__subtitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--grey-txt-cl);
  margin-bottom: 16px;
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-team__box {
  padding: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-cl);
}
